__pycache__/
*.pyc
*.pyo
*.pyd

build/
cmake-build-*/
*.so
*.o

.venv/
venv/
env/

*.log
logs/*.log

data/*
!data/.gitkeep

*.dat
*.bin
*.c64
*.fc32
*.npy
*.npz
*.h5
*.hdf5
*.zip

Data*/
Calib/
.cache/
.DS_Store
